body {
    /*background-image: linear-gradient(to right, hsl(60, 93%, 50%), #f68e08, #f84b06, #f70606, #de06c5);
    */
    background-image: linear-gradient(to right, #0d0d0d, #0d0d0d, #0d0d0d, #0d0d0d, #0d0d0d);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    color:aliceblue;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}


a {
    color: aliceblue;
    align-items: center;
    justify-content: center; 
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.principalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
} 
   