.header {
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    color:aliceblue;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}


a {
    color: aliceblue;
    align-items: center;
    justify-content: center; 
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.principalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
} 
   